.form-group {
  font-size: 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 3rem;
}

.form-label {
  font-weight: 600;
  margin-bottom: 1rem;
}

.form-input {
  font-size: 1.3rem;
  display: block;
  padding: 0.5rem;
  width: 30%;
  max-width: 300px;
  min-width: 200px;
}
