:root {
  --showdow-color: #0949d325;
  --border-color: #CCCED8;
  --btn-active: #008fff;
  --btn-disable: #0381e2;
  --alert: #ff4f59;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

a {
  color: black;
  text-decoration: none;
  display: inline-block;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  padding: 0 1.2rem;
  margin: 0 auto;
}

button:disabled {
  background: var(--btn-active);
}

.btn {
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  border: none;
  color: white;
  max-width: 120px;
  letter-spacing: 1px;
  font-weight: 500;
}

.btn__confirm {
  background-color: var(--btn-active);
}

.btn__alert {
  background-color: var(--alert);
}

.btn__cta {
  background: var(--btn-active);
}