/* Colors */
html {
  --inActiveLink: #999ba2;
  --activeLink: #090f34;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Basic styles */
body {
  background-color: #f3f8fb;
  color: #090f34;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
ul {
  list-style: none;
}

a {
  color: var(--inActiveLink);
  display: inline-block;
  text-decoration: none;
}
a:hover {
  color: #090f34;
  transition: all 0.2s ease-in-out;
}
.active {
  color: var(--activeLink);
}
/* Nav */
nav {
  border-bottom: 1px solid #8d8d8d;
  background: #fff;
}
.nav {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.nav .heading {
  padding: 1.1rem;
}
.nav a {
  font-weight: 600;
}
.nav li:first-child {
  margin-right: auto;
}
.nav li:nth-child(n + 2) a {
  padding: 1.5rem;
}

/* Holdings Table */
.holdings__table {
  text-align: center;
}

/* Wrapper */
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}
