.holdings__table {
  display: block;
  width: 100%;
  overflow-y: scroll;
  border-collapse: collapse;

  font-size: 1.5rem;
  text-align: center;
  margin: 3rem auto;
}

.holdings__table td,
.holdings__table th {
  border-bottom: 1px solid #97a6b3;
  padding: 1.2rem 2rem;
}

.holdings__body {
  display: inline-block;
}

.holdings__table__ticker {
  font-weight: 600;
}

.holdings__table__income--positive {
  color: #009f4b;
}